.grid {
  border: 2px  tranparent;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:22% 22% 22% 22%;
  grid-template-rows: 5vh 13% 13% 13%;
  grid-row-gap: 20px;
  grid-column-gap: 4%;
  
}

header {
	color: white;
	background-color: #00284d;
	grid-area: center;
	
}

body {
	font-family: "oswald"; 
	background-color: #00284d;
}

h1 {
	font-size: 45px;
	text-align: center;
	font-family: "OleoScript"
}


h2 {
	font-size: 35px;
	font-family: "OleoScript";
	color: #a2c3f0;
}

h4 {
	font-family: "specialElite";
	color: #a2c3f0;
}

h3 {
	font-size: 30px;
	font-family: "oswald";
	color: #a2c3f0 ;
}

p {
	font-family: "SpecialElite";
	color:white ;
}

.box {
  border-radius: 5px;
  border: 2px tranparent;
}

.navbar {
	grid-column-start: 1;
	grid-column-end: span 100;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  background-color:white;
}
.b {   
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  background-color:white;
}

.c {   
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  background-color:white;
}

.d {   
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  background-color:white; 
}

.main{   
  grid-column-start: 2;
  grid-column-end:  4;
  grid-row-start: 3;
  grid-row-end: span 10;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
	top: 0;
	width: 100%;
	
}

.active {
	grid-column-start: 1;
	grid-column-end: span 4;
    background-color: red;
}

@font-face {
	font-family: "oswald";
	src: url(Oswald-Regular.ttf);
	}
	
@font-face {
	font-family: "OleoScript";
	src: url(OleoScript-Regular.ttf);
	}
@font-face {
	font-family: "specialElite";
	src: url(specialElite-Regular.ttf);
	}